# Terminal output of tests/unit_test.py
```
..
----------------------------------------------------------------------
Ran 2 tests in 0.002s

OK
```