# Unit Test Results

## Test cases

### Case 0

**Input**
- Graph
- Visual

**Expected Output**
- Graph
- Visual

**Results**
- fw_iterative: Passed
- fw_recursive: Passed
- fw_recursive_memo: Passed

### Case 1

**Input**
- Graph
- Visual

**Expected Output**
- Graph
- Visual

**Results**
- fw_iterative: Passed
- fw_recursive: Passed
- fw_recursive_memo: Passed

### Case 2

**Input**
- Graph
- Visual

**Expected Output**
- Graph
- Visual

**Results**
- fw_iterative: Passed
- fw_recursive: Passed
- fw_recursive_memo: Passed