# Terminal output of tests/performance_test.py
```
Time taken for fw_iterative is 0.004330299999999995 seconds
Time taken for fw_recursive is 6.380673399999999 seconds
Time taken for fw_recursive_memo is 0.011312199999998995 seconds
```